<div class="main-body">
  <div class="row">
    <div class="col s12 m12 l10 offset-l1">
      <div class="card horizontal z-depth-4 white-text patient-card">
        <div class="patient-list dashboard-left">
          <div class="row" style="margin-bottom: 0">
            <div class="col s12 m12 l12 dashboard-options">
              <i class="small material-icons right" style="color: black">add</i>
            </div>
            <div class="col s12 m12 l12 search-patient-background black-text">
              <div class="input-field search-patient">
                <i class="patient-search-icon material-icons prefix">search</i>
                <input placeholder="Search" id="first_name" type="text" class="validate">
              </div>
            </div>

            <!-- Patient cards -->
            <a href="#">
            <div class="col s12 m12 l12 white patient-info-card">
              <div class="patient-name">Shashank Sharma</div>
             <span class="patient-text">#112233 | 7898914383</span>
              <span class="right patient-date">11/22/33</span>
            </div></a>
            <a href="#">
              <div class="col s12 m12 l12 white patient-info-card">
                <div class="patient-name">Shashank Sharma</div>
                <span class="patient-text">#112233</span>
                <span class="right patient-date">11/22/33</span>
              </div></a>
          </div>

          <!--<div *ngIf="signup">-->
          <!--<div class="password-status" *ngIf="strength >= 1">-->
          <!--<i class="material-icons large">fingerprint</i>-->
          <!--<p class="password-status-text center" style="font-size: 0.8rem">{{ passwordStatus }}</p>-->
          <!--</div>-->
          <!--<div class="card-image black-text password-strength"-->
          <!--id="password-indicator" style="width: 350px;max-width: 100%;">-->
          <!--</div>-->
          <!--</div>-->
        </div>
        <div class="card-content white-text">

          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
</div>
